@import "tailwindcss";

@theme {
  /*  ✒️ FONTS  */
  --font-DM: DM Sans, sans-serif;
  --font-orbitron: "Orbitron", sans-serif;

  /* 🚨COLORS  */
  --color-primary: #edeade;
  --color-sec: #242424;

  /* black  */
  --color-black-1000: #28282b;

  /* gray  */
  --color-gray-1000: #363638;
  --color-gray-2000: #03020a;

  /* blue  */
  --color-blue-1000: #657efc;

  /* green  */
  --color-green-1000: #d2e991;
  --color-green-1100: #5f6d61;
  --color-green-2000: #475249;
  --color-green-2500: #889589;
  --color-green-3000: #d8ffdf;
  --color-green-3500: #b8fec5;

  /* cream  */
  --color-cream-100: #edeade;

  /* yellow */
  --color-yellow-1000: #f5c05c;

  /* primary  */
  --color-primary-400: #8bcb97;

  /* neutral  */
  --color-neutral-900: #4e4b40;

  /* gray  */
  --color-gray-1000: #c0bdb0;
}

.col-center {
  @apply flex flex-col justify-center items-center;
}
.position-center {
  @apply top-[50%] left-[50%] -translate-[50%];
}

.wrapper {
  @apply w-[90%] mx-auto
   /* max-w-[1900px]; */
}
